{% extends "auctions/layout.html" %}

{% block title %}
    {{ name }}
{% endblock %}

{% block body %}

    <h1>{{ post.item.name }}</h1>
    <div>posted by {{ post.seller }}</div>
    <div>current price: {{ post.initial_p }}</div>
    <div>{{ post.item.description }}</div>

    <h2>Bids:</h2>
    {% if user.is_authenticated %}
        <form>
            {% csrf_token %}
            {{ bidform }}
            <button type="submit">Bid</button>
        </form>
    {% endif %}

    {% if bids %}
        <ul>
            {% for bid in bids %}
                <li>{{ bid.bid_datetime }}: {{ bid }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <div>No bids.</div>
    {% endif %}
    
    <h2>Comments:</h2>

    {% if user.is_authenticated %}
        <form>
            {% csrf_token %}
            {{ commentform }}
            <button type="submit">Comment</button>
        </form>
    {% endif %}

    {% if comments %}
        <ul>
            {% for comment in comments %}
                <li>{{ comment.comment_datetime }}: {{ comment }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <div>No Comments.</div>
    {% endif %}

{% endblock %}