{% extends "auctions/layout.html" %}

{% block title %}
    {{ post.item.name }}
{% endblock %}

{% block body %}
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}


    <h1>{{ post.item.name }}</h1>
    <div>posted by {{ post.seller }}</div>
    <div>current price: {{ post.initial_p }}</div>
    <div>{{ post.item.description }}</div>

    {% if not post.winner %}
        {% if user.is_authenticated and user == post.seller %}
        <form method="POST">
            {% csrf_token %}
            <button type="submit">Close Listing</button>
        </form>
        {% endif %}
    {% else %}
        {% if user.is_authenticated and user == post.winner %}
            <div> You have won this listing </div>
        {% else %}
            <div>This listing is closed.</div>
        {% endif %}
    {% endif %}

    <h2>Bids:</h2>
    {% if user.is_authenticated and not post.winner %}
        <form action="{% url 'bid' post_id=post.id %}" method="POST">
            {% csrf_token %}
            {{ bidform.amount }}
            <button type="submit">Bid</button>
        </form>
    {% endif %}

    {% if bids %}
        <ul>
            {% for bid in bids %}
                <li>{{ bid.bid_datetime }}: {{ bid }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <div>No bids.</div>
    {% endif %}
    
    <h2>Comments:</h2>

    {% if user.is_authenticated %}
        <form action="{% url 'comment' post_id=post.id %}" method="POST">
            {% csrf_token %}
            {{ commentform }}
            <button type="submit">Comment</button>
        </form>
    {% endif %}

    {% if comments %}
        <ul>
            {% for comment in comments %}
                <li>{{ comment.comment_datetime }}: {{ comment }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <div>No Comments.</div>
    {% endif %}

{% endblock %}